/* app/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ff8c00;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #ff8c00;
    padding: 15px;
    color: white;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
