{% extends "layouts/base.html" %}

{% block title %}Listagem de Itens{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cardapio.css') }}">
{% endblock %}

{% block content %}
<div class="main-content" id="listagem-main-content">
    <h1 id="listagem-title">Listagem de Itens</h1>
    
    <div class="search-bar" id="listagem-search-bar">
        <input type="text" id="search" placeholder="Buscar itens...">
    </div>
    
    <table class="item-table" id="listagem-item-table">
        <thead>
            <tr>
                <th>id_item</th>
                <th>Nome</th>
                <th>descrição</th>
                <th>Preço</th>
                <th>Disponibilidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <th>{{ item.id_item }}</th>
                <td>{{ item.nome_item }}</td>
                <td>{{ item.descricao }}</td>
                <td>R$ {{ item.preco }}</td>
                <td>{{ 'Disponível' if item.disponivel else 'Indisponível' }}</td>
                <td>
                    <a href="{{ url_for('main.editar_item', id=item.id_item) }}" class="btn btn-edit">Editar</a>
                    <form action="{{ url_for('main.excluir_item', id=item.id_item) }}" method="post" style="display:inline;">
                        <!-- Adicione um campo oculto para o token CSRF -->
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="btn btn-delete" onclick="return confirm('Tem certeza que deseja excluir este item?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
{% endblock %}
