{% extends "layouts/base.html" %}

{% block title %}Acompanhar Pedidos{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acompanhar_pedidos.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Acompanhar Pedidos</h1>
<!-- Notificações em Tempo Real -->


<!-- Barra de Ferramentas Superior -->
<div class="toolbar">
    <div class="search-bar">
        <input type="text" id="search" placeholder="Buscar pedido por mesa ou cliente...">
    </div>
    <div class="filters">
        <select id="filter-status">
            <option value="all">Todos</option>
            <option value="pending">Pendentes</option>
            <option value="completed">Concluídos</option>
        </select>
        
    </div>
    
</div>
<div id="notifications" style="display: none;" class="notification"></div> <!-- Adiciona este elemento logo após o h1 -->

<!-- Tabela de Pedidos -->
<table class="orders-table">
    <thead>
        <tr>
            <th>Hora</th>
            <th>Nome do Cliente</th>
            <th>Número da Mesa</th>
            <th>Itens</th>
            <th>Quantidade</th>
            <th>Status</th>
            <th>Ações</th> 
        </tr>
    </thead>
    <tbody>
        {% include 'components/table_rows.html' %}
    </tbody>
</table>


</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/acompanhar_pedido.js') }}"></script>
{% endblock %}
