{% extends "layouts/base.html" %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
<h1>Bem-vindo ao Sistema da Lanchonete</h1>
<p>Aqui, você pode facilmente cadastrar, gerenciar e acompanhar os pedidos dos clientes. Navegue pelo menu lateral 
para acessar o cardápio, anotar novos pedidos, monitorar os pedidos em andamento e visualizar relatórios de vendas. 
Nosso objetivo é tornar o processo de atendimento mais rápido e eficiente, proporcionando uma melhor experiência tanto 
para a equipe quanto para os clientes. Aproveite e explore todas as funcionalidades que preparamos para você!</p>
{% endblock %}
