{% extends "layouts/base.html" %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
<h1>Bem-vindo ao Sistema de Pedidos da Nossa Lanchonete!</h1>
<p>
   Aqui, você tem tudo o que precisa para um atendimento ágil e eficiente. 
   Explore o cardápio, faça pedidos com facilidade e acompanhe o andamento em tempo real. 
   Nossa missão é tornar sua experiência mais prática e organizada. 
   Navegue pelo menu lateral para descobrir todas as funcionalidades que preparamos. 
   Seja bem-vindo e aproveite o sistema!
</p>

<div class="slogan">
   <p>"Servindo qualidade e rapidez para você!"</p>
</div>



{% endblock %}
