{% extends "layouts/base.html" %}

{% block title %}Tela Inicial{% endblock %}

{% block content %}
<h1>Bem-vindo ao Sistema de Pedidos da Nossa Lanchonete!</h1>
<p>
   Aqui, você tem tudo o que precisa para um atendimento ágil e eficiente. 
   Explore o cardápio, faça pedidos com facilidade e acompanhe o andamento em tempo real. 
   Nossa missão é tornar sua experiência mais prática e organizada. 
   Navegue pelo menu lateral para descobrir todas as funcionalidades que preparamos. 
   Seja bem-vindo e aproveite o sistema!
</p>

<div class="slogan">
   <p>"Servindo qualidade e rapidez para você!"</p>
</div>

<!-- Mensagem de Conexão ao Banco de Dados -->
<div class="alert alert-warning" style="background-color: #ffcc00; color: #333; padding: 15px; border-radius: 5px; margin-top: 20px; text-align: center;">
    <strong>Atenção!</strong> O sistema não está conectado a um banco de dados no momento. Algumas funcionalidades podem estar limitadas.
</div>

{% endblock %}
