{% extends "layouts/base.html" %}

{% block title %}Relatórios de Vendas{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/relatorios_vendas.css') }}">
{% endblock %}

{% block content %}
<h1 class="page-title">Relatórios de Vendas</h1>
<div class="relatorio-container">
    <!-- Barra de Ferramentas Superior -->
<div class="barra-ferramentas">
    <form method="POST" action="{{ url_for('main.relatorios_vendas') }}" onsubmit="return validarDatas()">
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="filtros">
            <label for="data-inicio">Data Início:</label>
            <input type="date" id="data-inicio" name="data-inicio" required>
    
            <label for="data-fim">Data Fim:</label>
            <input type="date" id="data-fim" name="data-fim" required>
    
            
            <button type="submit" class="botao-aplicar">Aplicar</button>
        </div>
    </form>

    <button class="botao-exportar">Exportar Relatório</button>
</div>

<script>
function validarDatas() {
    const dataInicio = new Date(document.getElementById('data-inicio').value);
    const dataFim = new Date(document.getElementById('data-fim').value);
    if (dataInicio > dataFim) {
        alert('A data de início deve ser anterior à data de fim.');
        return false; // Impede o envio do formulário
    }
    return true; // Permite o envio do formulário
}
</script>


    <!-- Tabela de Relatório de Vendas -->
    <h3>Resultados do Relatório</h3>
    <ul>
        <li>Total de Pedidos: {{ total_pedidos }}</li>
        <li>Total de Vendas: R$ {{ total_vendas }}</li>
        <li>Média por Venda: R$ {{ media_por_venda }}</li>
        <li>Produto Mais Vendido: {{ produto_mais_vendido }}</li>
    </ul>

    <!-- Resumo Financeiro -->
    <div class="resumo-financeiro">
        <div class="resumo-item">
            <h3>Total de Vendas</h3>
            <p>R$ {{ total_vendas }}</p>
        </div>
        <div class="resumo-item">
            <h3>Número de Vendas</h3>
            <p>{{ total_pedidos }}</p>
        </div>
        <div class="resumo-item">
            <h3>Média por Venda</h3>
            <p>R$ {{ media_por_venda }}</p>
        </div>
        <div class="resumo-item">
            <h3>Produtos Mais Vendidos</h3>
            <p>{{ produtos_mais_vendidos }}</p>
        </div>
    </div>
</div>
{% endblock %}
